[Unit]
Description=yellow
Requires=network-online.target
Requires=tailscaled.service
After=network-online.target
After=tailscaled.service

[Service]
User=erwin
Group=erwin
Environment=GOMAXPROCS=2

Restart=always
ExecStart=/usr/local/bin/yellow
KillSignal=SIGINT
PrivateDevices=false


[Install]
WantedBy=multi-user.target
